@tailwind base;
@tailwind components;
@tailwind utilities;


  .navbar-scrolled {
    background-color: rgba(36, 35, 35, 0.7); /* negro tenue */
    backdrop-filter: blur(3px); /* opcional: desenfoque de fondo */
    transition: background-color 0.3s ease;
    height: 80px;
    
  }

  /*evitar inputs blancos con autocompletado*/
  input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #27272a inset !important; /* bg-zinc-800 */
  -webkit-text-fill-color: #f4f4f5 !important; /* text-gray-100 */
  transition: background-color 5000s ease-in-out 0s;
}




    /*translate */
    

    /* Ocultar barra superior de Google Translate */
.goog-te-banner-frame { display: none !important; }
body { top: 0 !important; }

/* Ocultar el div extra que Google agrega */
.skiptranslate { display: none !important; }

/* Estilo del botón EN/ES */
.lang-switcher {
  position: relative;
  z-index: 60; /* mayor que el z-50 del nav */
  display: flex;
  gap: 8px;
  align-items: center;
}
.lang-switcher img {
  width: 24px;
  height: auto;
  border-radius: 3px;
  display: block;
}


/* Mapa de contacto */
  #map {
    height: 100%;
    min-height: 300px;
  }

  @media (max-width: 768px) {
    #map {
      display: none !important; /* ocultar mapa en móvil */
    }
  }

  #contact > .flex {
    overflow: hidden;
  }
